{% extends "base.html"%}

{% load static %}

{% block title %}
    Ajout d'une image
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}

    <h1>Ajouter une image pour illustrer un Film ou une Série</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" class="btn btn-outline-warning" value="Ajouter l'image à la BD"/><br><br><br>
    </form>
    <a href="{% url 'movies:home'%}"><button class="btn btn-warning">Accueil</button></a>
    <a href="{% url 'movies:film_list'%}"><button class="btn btn-warning">Films</button></a>
    <a href="{% url 'movies:serie_list'%}"><button class="btn btn-warning">Séries</button></a>
{% endblock %}
