{% extends "base.html"%}
{% block title %}
    Les Films
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
    <form style="width:500px; margin: auto;">
        <div class="form-group">
            <label for="exampleInputEmail1">Adresse Mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mot de Passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <p style="text-align:center;">
            <button type="submit" class="btn btn-outline-warning" >Se connecter</button>
        </p>
    </form>
{% endblock %}