{% extends "base.html"%}

{% load static %}

{% block title %}
    Les Films
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
        <h1 style="text-align: center; font-size:70px;"> Films </h1><br>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            {% for film in object_list %}
                <a href="{% url 'movies:film_details' film.pk%}" style="text-decoration: none;">
                    <div class=" mb-4 px-5 py-5 align-items-center mx-3" style="width : 350px;text-align: center;">
                        {% if film.link_img %}
                            <img src="{{film.link_img}}" class="card-img-top" alt="image du Film"  style="height: 500px; width:350px">
                        {% else %}
                            <img src="{% static 'media/'%}{{film.img.imagefile}}" class="card-img-top" alt="img Film"  style="height: 500px; width:350px">
                        {% endif %}
                        <div class="card-body">
                            <b> <h5 style="color:orange; text-decoration: none;" class="card-title">{{film.nom}}</h5></b>
                            <p class="card-text" style="color: black;">{{film.description}}</p>
                            <a href="{% url 'movies:film_details' film.pk%}"> <button class="btn btn-outline-warning">Détails</button></a>
                            <a href="{% url 'movies:modif_film' film.pk%}"> <button class="btn btn-outline-warning">Modifier</button></a>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <p style="text-align: center;">
            <br><a href="{% url 'movies:nouveau_film' %}"><button class="btn btn-warning">Ajouter un film</button></a>
        </p>
{% endblock %}