{% extends "base.html"%}
{% block title %}
    Les Films
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
    <div style="text-align: center;">
        <form method="post">{% csrf_token %}
            <p>Voulez vous vraiment supprimer <b>{{ object }} </b>?</p>
            <input type="submit" value="Confirmer" class="btn btn-outline-warning">
        </form>
        <a href="{% url 'movies:film_details' object.pk %}"><button class="btn btn-warning">Annuler</button></a>
    </div>
{% endblock %}