{% extends "base.html"%}
{% load static %}
{% block title %}
    Détails du Film
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
        <div style="text-align: center;">
            <h1>Détails de <br><i>{{object.nom}}</i></h1><br><br>
            {% if film.link_img %}
                <img src="{{film.link_img}}" class="card-img-top" alt="image du Film" style="height: 500px; width:350px">
            {% else %}
                <img src="{% static 'media/'%}{{film.img.imagefile}}" class="card-img-top" alt="img Film" style="height: 500px; width:350px">
            {% endif %}<br> <br><br>
            <h4>Description</h4>
            <p style="max-width: 1000px; margin: auto;"> {{object.description}}</p><br><br>
            <h4>Sortie</h4>
            <p>{{object.sortie}}</p><br>
            <h4>Realisateur(s)</h4>
            <p>
                {% for realisateur in object.realisateurs.all %}
                <a href="{% url 'movies:realisateur_detail' realisateur.pk %}" style="color: black;">{{realisateur}}</a>
                {% endfor %}
            </p>
            <br>
            <p style="text-align: center;">
                <a href="{% url 'movies:modif_film' object.pk %}"><button class="btn btn-outline-warning">Modifier ce film</button></a>
                <a href="{% url 'movies:sup_film' object.pk %}"><button class="btn btn-outline-warning">Supprimer ce film</button></a>
            </p>
            <p style="text-align: center;">
                <a href="{% url 'movies:film_list' %}"><button class="btn btn-warning">Retour aux films</button></a>
            </p>
        </div>
{% endblock %}
