{% extends "base.html"%}
{% block title %}
Détails de la réalisateur
{% endblock %}
{% block styles %}
{{ block.super }}
{% endblock %}
{% block content%}
<div style="text-align: center;">
    <h1>Détails de <br><i>{{object.nom}} </i></h1><br><br>
    {% if object.films.all %}
        <h4>Film(s) réalisé(s)</h4>
        <ul style="list-style: none;">
            {% for film in object.films.all %}
                <li><a href="{% url 'movies:film_details' film.pk %}" style="color: black;">{{film}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {% if object.series.alls %}
        <h4>Série(s) réalisée(s)</h4>
        <ul style="list-style: none;">
            {% for serie in object.series.all %}
            <li><a href="{% url 'movies:serie_detail' serie.pk %}" style="color: black;">{{serie}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <p style="text-align: center;">
        <a href="{% url 'movies:realisateur_edit' object.pk %}"><button class="btn btn-outline-warning">Modifier ce réalisateur</button></a>
        <a href="{% url 'movies:realisateur_delete' object.pk %}"><button class="btn btn-outline-warning">Supprimer ce réalisateur</button></a>
    </p>
    <p style="text-align: center;">
        <a href="{% url 'movies:realisateur_list' %}"><button class="btn btn-warning">Retour aux réalisateurs</button></a>
    </p>
</div>
{% endblock %}