{% extends "base.html"%}
{% load static %}
{% block title %}
Les Realisateurs
{% endblock %}
{% block styles %}
{{ block.super }}
{% endblock %}
{% block content%}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li style="list-style:none; color:red">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<h1 style="text-align: center; font-size:70px;"> Realisateur </h1><br>
<div class="d-flex flex-row flex-wrap justify-content-center">
    {% for real in object_list %}
        <div class=" mb-4 px-5 py-5 align-items-center" style="width: 22rem; text-align: center;">
            <div class="card-body">
                <b> <h5 style="color:orange; text-decoration: none;" class="card-title">{{real.nom}}</h5></b>
                <p class="card-text" style="color: black;">{{real.description}}</p>
                <a href="{% url 'movies:realisateur_detail' real.pk%}"> <button class="btn btn-outline-warning">Détails</button></a>
                <a href="{% url 'movies:realisateur_edit' real.pk%}"> <button class="btn btn-outline-warning">Modifier</button></a>
            </div>
        </div>
    {% endfor %}
</div>
<p style="text-align: center;">
    <br><a href="{% url 'movies:realisateur_create' %}"><button class="btn btn-warning">Ajouter un realisateur</button></a>
</p>
{% endblock %}