{% extends "base.html"%}
{% load static %}
    {% block title %}
        Détails de la série
    {% endblock %}
    {% block styles %}
        {{ block.super }}
    {% endblock %}
    {% block content%}
            <div style="text-align: center;">
                <h1>Détails de <br><i>{{object.nom}}</i></h1><br><br>
                {% if object.link_img %}
                    <img src="{{object.link_img}}" class="card-img-top" alt="image du Film" style="height: 500px; width:350px">
                {% else %}
                    <img src="{% static 'media/'%}{{object.img.imagefile}}" class="card-img-top" alt="img Film" style="height: 500px; width:350px">
                {% endif %}<br> <br><br>
                <h4>Description</h4>
                <p style="max-width: 1000px; margin: auto;"> {{object.description}}</p><br><br>
                <h4>Sortie</h4>
                <p>{{object.sortie}}</p><br>
                <h4>Nombre de Saison</h4>
                <p>{{object.nb_saison}}</p><br>
                <h4>Realisateur(s)</h4>
                <p>
                    {% for realisateur in object.realisateurs.all %}
                    <a href="{% url 'movies:realisateur_detail' realisateur.pk %}" style="color: black;">{{realisateur}}</a>
                    {% endfor %}
                </p>
                <br>
                <p style="text-align: center;">
                    <a href="{% url 'movies:serie_edit' object.pk %}"><button class="btn btn-outline-warning">Modifier cette série</button></a>
                    <a href="{% url 'movies:serie_delete' object.pk %}"><button class="btn btn-outline-warning">Supprimer cette série</button></a>
                </p>
                <p style="text-align: center;">
                    <a href="{% url 'movies:serie_list' %}"><button class="btn btn-warning">Retour aux Séries</button></a>
                </p>
            </div>
    {% endblock %}