
{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %}
    Ajouter une série
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}
{% block content%}
<a href="{% url 'movies:serie_list'%}"><button class="btn btn-warning">Retour</button></a><br><br><br>
<form method="post">
    {% csrf_token %}
    {{ form.nom|as_crispy_field }}
    {{ form.sortie|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.nb_saison|as_crispy_field }}
    {{ form.realisateurs|as_crispy_field }}
    {{ form.image|as_crispy_field }}
    <br><p>Vous pouvez aussi ajouter : </p>
    <ul>
        <li class="badge badge-warning"><a href="{% url 'movies:image'%} " style=" color:cornsilk;"> Une Image </a></li>
        <li class="badge badge-warning"><a href="{% url 'movies:realisateur_create'%}" style=" color:cornsilk;"> Un Réalisateur </a></li>
    </ul>
    <br><input type="submit" class="btn btn-outline-warning" value="Ajouter la série">
</form>
{% endblock %}